
body.has-sidebar-page #main-outlet-wrapper {
  display: flex;
}

@if $place_Discourse_sidebar == "left" {
  body.has-sidebar-page #main-outlet-wrapper {
    flex-direction: row;
  }
  
  .sidebar-wrapper {
    order: 2;
  }

  #main-outlet {
    padding-top: 1.5em;
    order: 1;
    margin-left: 5px;
  }

} @else if $place_Discourse_sidebar == "right" {
  body.has-sidebar-page #main-outlet-wrapper {
    flex-direction: row;
  }
  
  .sidebar-wrapper {
    postition: relative!important;
    top: 0!important;
    order: 1;
  }

  #main-outlet {
    padding-top: 1.5em;
    order: 2;
  }
  
} @else {
  body.has-sidebar-page #main-outlet-wrapper {
    flex-direction: column;
  }
  
  .sidebar-wrapper {
    order: 1;
  }

  #main-outlet {
    padding-top: 1.5em;
    order: 2;
  }
}

