body.has-sidebar-page #main-outlet-wrapper {
  display: flex;
}

header.d-header {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(#{$header_blur_px}px);
}


article.boxed.onscreen-post:not(#post_1) {
  margin: 1em 0;
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 0.5em;
}

.topic-body, .topic-avatar {
  border: none; /* Removes a --primary-low border to the top and bottom */
}

.topic-list .views {
  width: 4.3em;
  order: 6;
  align-self: center;
}

@if $place_Discourse_sidebar == "right" {
  body.has-sidebar-page #main-outlet-wrapper {
    flex-direction: row;
  }
  
  .sidebar-wrapper {
    order: 2;
  }

  #main-outlet {
    padding-top: 1.5em;
    order: 1;
    margin-left: 10px;
  }
  
} @else {
  body.has-sidebar-page #main-outlet-wrapper {
    flex-direction: row;
  }
  
  .sidebar-wrapper {
    order: 1;
  }

  #main-outlet {
    padding-top: 1.5em;
    order: 2;
  }
}

/* Most code from here down: https://github.com/pyxfluff/darkpixlz-Modern-Theme/blob/master/common/common.scss */
#main-outlet {
  margin-top: 5px;
  // margin-bottom: 50px;
  // background: var(--secondary);
  border-radius: 1em;
  padding: 3em 3em 5%;
  max-width: 1150px;
  padding-bottom: 5% !important;
}

.category-list.with-topics .category {
  border-radius: 8px 0px 0px 8px;
}

.full-width {
  .contents {
    .topic-list {
      border-collapse: separate;
      border-spacing: 0 0.25em;
      display: contents;

      .topic-list-header {
        display: contents;

        tr {
          display: flex;
          border-bottom: none;
        }

        .topic-list-data {
          &.default {
            width: 63%;
          }

          &.posters {
            width: 7%;
          }

          &.posts {
            width: 15%;
          }

          &.activity {
            width: 15%;
          }
        }
      }

      .topic-list-body {
        display: contents;

        .topic-list-item-separator {
          width: 100%;
          margin: 0.75em 0;
          display: flex;

          .topic-list-data {
            width: 100%;
          }
        }
        
        .topic-list-item {
          transition: transform #{$topic_pop_duration}s;
          width: 100%;
          display: flex;
          margin-bottom: 0.5em;
          background-color: var(--secondary);
          border: 1px solid rgba(var(--primary-rgb), 0.2);
          border-radius: 1em;
          position: relative;

          &.visited {
            border: 1px solid rgba(var(--primary-rgb), 0.1);

            .discourse-tag {
              opacity: 0.75;
            }

            &:hover {
              border: 1px solid rgba(var(--primary-rgb), 0.25);

              .discourse-tag {
                opacity: 1;
              }
            }
          }
          
          &:hover {
            transform: scale($topic_pop_amount); // Wrote this myself
            
            // background-color: var(--secondary);
            // box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
            // border: 1px solid rgba(var(--primary-rgb), 0.3);
            
            // a.title:not(.badge-notification),
            // a.topic-excerpt {
            //   color: var(--primary) !important;
            // }
          }
          
          .topic-list-data {
            &.main-link {
              width: 63%;
              order: 2;
            }

            &.posters {
              width: 7%;
              order: 1;
              height: auto;
              display: flex;
              justify-content: center;
              align-items: center;

              a:not(.latest) {
                display: none;
              }
            }
            
            &.posts {
              width: 15%;
              order: 3;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            &.age {
              width: 15%;
              order: 4;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .posters {
            a.latest {
              margin-right: 4px;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-content: center;
              align-items: center;

              .avatar {
                margin-right: 0;
              }
            }

            a:not(.latest) {
              margin-left: -22px;

              .avatar {
                border: 3px solid var(--secondary);
              }
            }

            .avatar {
              width: 2em;
              height: 2em;
              // border-radius: 12px !important;
            }
          }

          .main-link {
            min-height: 100%;

            .link-top-line {
              display: block;
              margin-bottom: 0.25em;
            }

            // .title {
            //   font-weight: bold;
            // }

            .link-area {
              display: flex;

              .link-title-area {
                margin-right: 1em;
                font-size: medium;
              }

              .link-meta-area {
                font-size: medium;
                display: flex;
                align-items: center;
              }
            }
          }
          /*
          .posts-map a,
          .num.age.activity a {
            padding: 0;
          }

          .posts-map {
            position: relative;

            .number {
              margin-right: 0.25em;
            }
          }

          .post-activity {
            .d-icon-reply {
              color: var(--primary-medium);
              margin-right: 0.25em;
            }

            .relative-date {
              color: var(--primary-medium);
            }
          }
          */
        }
      }
    }
  }
}
